{{define "header"}}
<header class="container">
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
            <li class="nav-item"><a href="/">home</a></li>
            <li class="nav-item">{{if .Name}}<a href="/@{{.Name}}">@{{.Name}}</a>{{end}}</li>
            <li class="nav-item"><a href="/settings">settings</a></li>
            <li class="nav-item"><form action="/logout" method="post"><button>leave</button></form>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </nav>
</header>
{{end}}