<!-- This defines the head tag context -->
{{define "head"}}
    {{ $name := "home"}}
    {{if .Name}}{{ $name = .Name}}{{end}}
    <title>pensive/{{$name}} - {{.Title}}</title>
{{end}}

<!-- This defines the body tag context -->
{{define "body"}}
{{block "header" .}}{{end}}
<main class="container mt-5 pt-5">
    {{if .DisplayForm}}
    <div>
        <form action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <label class="input-group-text" for="media-source" id="filename">upload..</label>
                <input type="file" id="media-source" onchange="getValue()" name="media-source" aria-label="media source" class="form-control" accept="audio/*,video/*,image/*">
                <input type="text" name="post" aria-label="post" class="form-control">
                <button type="submit" class="btn btn-secondary">submit</button>
            </div>
        </form>
    </div>
    {{end}}

    {{range .Posts}}
    <div>
        <div>
            <strong><a href="/@{{.User}}">@{{.User}}</a> - <sup>{{.UpdatedAt}}</sup>:</strong>
        </div>
        <div>{{.Caption}}</div>
        {{if .AttachmentURL}}
        <div>
            {{if eq .AttachmentType "image"}}
            <img src="{{.AttachmentURL}}" alt="it doesn't show up, contact admin">
            {{else if eq .AttachmentType "video"}}
            <video src="{{.AttachmentURL}}" controls>Your browser does not support the video tag.</video>
            {{else if eq .AttachmentType "audio"}}
            <video src="{{.AttachmentURL}}" controls>Your browser does not support the video tag.</video>
            {{else}}
            {{.AttachmentURL}}
            {{end}}
        </div>
        {{end}}
    </div>
    {{end}}
</main>
{{end}}
<!-- This defines the foot context -->
{{define "foot"}}
    <script>
        function getValue() {
            var filename = document.getElementById('media-source').value;
            document.getElementById('filename').innerText = filename;
        }
    </script>
{{end}}