<!-- This defines the head tag context -->
{{define "head"}}
<title>pensive/register</title>
{{end}}

<!-- This defines the body tag context -->
{{define "body"}}
<main>
    <div>
        <form method="post">
            <div>Username: <input type="text" name="username"></div>
            <div>Password: <input type="password" name="password"></div>
            <div>Confirm Password: <input type="password" name="confirmpass" required></div>
            <div>Email: <input type="email" name="email"></div>
            <div><button type="submit">Register</button></div>
        </form>
    </div>
</main>
{{end}}