<!-- This defines the head tag context -->
{{define "head"}}
{{$name := "home"}}
{{if .Name}}{{ $name = .Name}}{{end}}
<title>pensive/{{$name}} - {{.Title}}</title>
{{end}}

<!-- This defines the body tag context -->
{{define "body"}}
{{block "header" .}}{{end}}
<main class="container mt-5 pt-5">
    <h1>{{.Title}}</h1>

    <div>
        <div>
            <ul>
                <!-- this should also refresh -->
                <li><a href="/settings/profile">profile</a></li>
                <li><a href="/settings/privacy">privacy</a></li>
                <li><a href="/settings/account">account</a></li>
            </ul>
        </div>
        <form method="post">
            <div class="mb-3">
                <label for="old_password" class="col-sm-4 form-label">Old Password (required)</label>
                <input type="password" id="old_password" class="col-sm-8" name="old_password" value="" required>
            </div>
            <div class="mb-3">
                <label for="new_password" class="col-sm-4 form-label">New Password</label>
                <input type="password" id="new_password" class="col-sm-8" name="new_password" value="">
            </div>
            <div class="mb-3">
                <label for="conf_password" class="col-sm-4 form-label">Confirm New Password</label>
                <input type="password" id="conf_password" class="col-sm-8" name="conf_password" value="" autocomplete="off">
            </div>
            <div><button type="submit" class="btn btn-primary">Update</button></div>
        </form>
    </div>
</main>
{{end}}