<!-- This defines the head tag context -->
{{define "head"}}
{{$name := "home"}}
{{if .Name}}{{ $name = .Name}}{{end}}
<title>pensive/{{$name}} - {{.Title}}</title>
{{end}}

<!-- This defines the body tag context -->
{{define "body"}}
{{block "header" .}}{{end}}
<main class="container mt-5 pt-5">
    <h1>{{.Title}}</h1>

    <div>
        <div>
            <ul>
                <!-- this should also refresh -->
                <li><a href="/settings/profile">profile</a></li>
                <li><a href="/settings/privacy">privacy</a></li>
                <li><a href="/settings/account">account</a></li>
            </ul>
        </div>
    </div>
</main>
{{end}}