<!-- This defines the head tag context -->
{{define "head"}}
    {{ $name := "home"}}
    {{if .Name}}{{ $name = .Name}}{{end}}
    <title>pensive/{{$name}} - {{.Title}}</title>
{{end}}

<!-- This defines the body tag context -->
{{define "body"}}
<header>
    <nav>
        <div><a href="/">home</a></div>
        {{if .Name}}<div><a href="/@{{.Name}}">@{{.Name}}</a></div>{{end}}
        <div><a href="/settings">settings</a></div>
        <form action="/logout" method="post"><button>leave</button></form>
    </nav>
</header>
<main>
    <h1>{{.Title}}</h1>

    {{if .DisplayForm}}
    <div>
        <form action="/post" method="post" enctype="multipart/form-data">
            <div><input type="text" name="post"></div>
            <div><input type="file" name="media-source" accept="audio/*,video/*,image/*"></div>
            <div><button type="submit">Submit</button></div>
        </form>
    </div>
    {{end}}
    {{range .Posts}}
    <div>
        <div>
            <strong><a href="/{{.User.Username}}">{{.User.Username}}</a> wrote:</strong>
        </div>
        <div>{{.Body}}</div>
        {{if .MediaID}}<div><img src="http://localhost:8080/{{.MediaID}}" alt=""></div>{{end}}
    </div>
    {{end}}
</main>
{{end}}
